{% extends 'base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Ma Librairie</li>
    </ol>
{% endblock %}

{% block title %}
    Ma collection
{% endblock %}
